name: ci
on: [push, pull_request]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        js: [[node, 22], [node, 24], [bun, latest]]
        os: [ubuntu-latest, macos-latest, windows-latest]
        exclude: # https://github.com/nodejs/node/issues/56645
          - js: [node, 24]
            os: windows-latest
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: stable
          cache: false
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          cache: pnpm
          node-version: ${{matrix.js[1]}}
        if: ${{matrix.js[0] == 'node'}}
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{matrix.js[1]}}
        if: ${{matrix.js[0] == 'bun'}}
      - run: make deps lint test
        if: ${{matrix.js[0] == 'node'}}
      - run: bun install && bunx tsdown && bun test --timeout 180000
        if: ${{matrix.js[0] == 'bun'}}
