name: ci
on: [push, pull_request]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        js: [[node, 20], [node, 22], [node, 24], [bun, latest]]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version: "1.24"
      - uses: actions/setup-node@v5
        with:
          node-version: ${{matrix.js[1]}}
        if: ${{matrix.js[0] == 'node'}}
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{matrix.js[1]}}
        if: ${{matrix.js[0] == 'bun'}}
      - run: make deps lint test
        if: ${{matrix.js[0] == 'node'}}
      - run: bun install && bunx tsdown && chmod +x dist/index.js && bun test
        if: ${{matrix.js[0] == 'bun'}}
