name: ci
on: [push, pull_request]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        js: [[node, 18], [node, 20], [node,22], [bun,1]]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{matrix.js[1]}}
        if: ${{matrix.js[0] == 'node'}}
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: ${{matrix.js[1]}}
          no-cache: true
        if: ${{matrix.js[0] == 'bun'}}
      - run: make lint test
        if: ${{matrix.js[0] == 'node'}}
      - run: bun install && bunx vite build && chmod +x dist/index.js && bun test
        if: ${{matrix.js[0] == 'bun'}}
        env:
          BUN: "true"
